*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar{width: 0.5rem}
body::-webkit-scrollbar-track{background-color: #333}
body::-webkit-scrollbar-thumb{background-color: #ED217C;}
body{
    display: flex;
    justify-content: center;
    background: #161623;
}

.bola1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 50%);
}
.bola1::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2193f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}
.bola2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#3af321, #e9c41e);
    clip-path: circle(20% at 14% 40%);
    transform: translateY(100vh);
}

.interface{
    width: 80vw;
    background: #483A58;
    padding: 20px;
    margin: 20px 0;
    transform: translateY(100px);
    color: white;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

section{
    background: #382d44;
    padding: 20px;
    margin-bottom: 30px;
}

h3{
    font-size: 30px;
    color: #2193f3;
}

p{
    font-size: 20px;
}
p span{
    color: #3af321
}

input.bot-sub{
    padding: 8px 18px;
    margin: 5px 0;
    background: #ED217C;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s linear background-color;
}
input.bot-sub:hover{
    background: #2193f3;
}

.bot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    background: #ED217C;
    font-size: 13pt;
    outline: none;
    border: none;
    padding: 15px 20px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 20px;
    width: 80%;
    transition: .5s color, .5s background;
}
.botao:hover{
    background: #dddddd;
    color: #ED217C;
}

.botao-comu{
    position: absolute;
    top: 20px;
    right: 5vw;
    padding: 10px 20px;
    background: #e91e63;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s background;
}
.botao-comu:hover{
    background: #af0f44;
}

.ex{
    width: 75vw;
    padding: 10px;
    margin: 0 auto;
}

table.ex tr th, table.ex tr td{
    padding: 10px;
}

table.ex tr th{
    text-align: right;
    background: #ED217C;
    width: 50px;
}
table.ex tr td{
    background: #797979;
}
